# Node modules
node_modules

# .git directory
.git

# Logs
logs

# Environment variables (but keep any .env.example files)
.env
.env.*
!.env.example

# Editor files
.vscode
.idea

# Other unnecessary files
LICENSE
.DS_Store

# Make sure we don't exclude important directories by accident
!app/
!components/
!public/
!styles/
!next.config.js
!tsconfig.json
!postcss.config.js
!tailwind.config.js 